p {
	color: green;
	Background-color: black;
	font-weight: bold;
	text-align: center;
}
 /* This is how you comment on code in CSS */
 
 h1 { 
	text-align: center;
	text-shadow: 2px 2px 2px #FF0000;
	}