
table {
	border: 5px solid silver;
}

td:hover {
	background-color: chartreuse;
	color: Fuchsia;
}

tr, th { 
	background-color: black;
	color: Fuchsia;
	font-variant: small-caps;
}

tr, td {
	background-color: black;
	color: chartreuse;
}
 
h1 {text-align: center; font-size:40px; color: black; font-variant: small-caps;}